/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/


/********** CSS général **********/ 

:root {
    --main-color: #1D6154;
    --main-bg-color: #FEFEF9;
    --disable-color: #A7A7A7;
}

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: var(--main-bg-color);
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color)
}

h3 {
	font-size: 22px;
	font-family: 'Work Sans'
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a span {
	font-weight: 600;
}


/********** Classes utilisées pour les boutons et filtres **********/

.bouton {
	padding: 8px 30px;
	border-radius: 25px;
	font-family: 'Syne';
	font-size: 14px;
}

.classique {
	border: solid 1px var(--main-color);
	color: var(--main-color);
	background-color: white;
}

.selectionne {
	border: solid 1px var(--main-color);
	color: white;
	background-color: var(--main-color);
}

.desactive {
	border: solid 1px var(--disable-color);
	color: white;
	background-color: var(--disable-color);
}

.indicatif {
	font-family: 'Work sans';
	border: solid 1px #CCD6DC;
	color: #3A6784;
	background-color: #CCD6DC;
}

.invisible {
	display: none;
}

.masque {
	visibility: hidden;
}

.erreur {
	color: red;
	font-weight: 600;
	padding: 10px 0;
}

.clicable {
	cursor: pointer;
}


/********** Header et Navigation **********/ 

#edition {
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}

#menu {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

hr {
  	color: var(--disable-color);
	margin: 40px 0px;
	width: 100%;
}


/********** Sections index.html et login.html **********/ 

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	margin-bottom: 1em;
}

#portfolio .titre {
	display: flex;
	margin: auto;
	justify-content: space-around;
	align-items: baseline;
	width: 30%;
	display: flex;
}

.filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 30px;
	gap: 30px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#login {
	width: 40%;
	margin: auto;
	height: 800px;
}

#contact>*,
#login>* {
	text-align: center;
}

#login a {
	display: block;
	text-decoration: underline solid;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 30px;
}

#contact input,
#login input:not(input[type=submit]),
#modale-page2 input:not(input[type=submit]),
#modale-page2 select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
}

#contact label,
#login label,
#modale-page2 label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-weight: 700;
	margin: 1.5em auto;
	width: 180px;
	text-align: center;
}

/********** Modale **********/

#background-modale {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#modale,
#modale-page2 {
	width: 400px;
    padding: 40px 60px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    z-index: 10;
}

.btn-fermer {
	position: absolute;
	cursor: pointer;
	top: 20px;
	right: 20px;
}

#btn-precedent {
	position: absolute;
	cursor: pointer;
	top: 20px;
	left: 20px;
}

.btn-supprimer {
	position: absolute;
	padding: 10px 5px;
	top: 5%;
	right: 5%;
	background-color: black;
	color: white;
}

#btn-valider {
	margin: 0px auto;
}

.carte {
	position: relative;
}

#photos-modale {
	display: flex;
	padding: 30px 0px 0px;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 5px;
}

#photos-modale img {
	width: 75px;
	margin-bottom: 10px;
}

#ajout-photo label {
	display: flex;
	text-align: center;
	flex-direction: column;
	background-color: rgb(233,241,246);
	border-radius: 5px;
	color: grey;
	padding: 20px;
	margin-top: 30px;
	gap: 10px;
}

#ajout-photo i {
	margin: 10px;
}

#ajout-photo p {
	color: black;
	font-size: 12px;
}

#preview-photo img {
	height: 200px;
	object-fit: contain;
}

#modale-page2 select {
	appearance: none;
}

#modale-page2 form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

#modale-page2 input[type=file] {
	display: none;
}

/********** Footer **********/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}